{% extends 'Retailer/base.html' %}
{% block body %}

          <section id="hero" class="hero section dark-background">

      <img src="../../static/login/assets/img/towel.jpg" alt="" data-aos="fade-in">
      <div class="container">
        <div class="row">
          <div class="col-lg-10">
            <h2 data-aos="fade-up" data-aos-delay="100">WHOLESALE HUB</h2>
            <p data-aos="fade-up" data-aos-delay="200">A PURCHASE SYSTEM FOR RETAILERS</p>
          </div>

        </div>
      </div>

    </section>

{% endblock %}